<div class="task-composer hide">
  <div class="task">
    <div class="task-details">
      <textarea class="task-composer-textarea js-task-deed"></textarea>
      <!-- http://api.jqueryui.com/resizable/ -->
    </div>
  </div>

  <div class="task-controls">
    <input class="btn btn-success js-add-task" type="submit" value="Add" data-create-url="<%= plan_tasks_path(@plan)%>">
    <a class="fa fa-times js-cancel" href="#"></a>
    <a class="cc-opt icon-lg icon-dropdown-menu dark-hover js-cc-menu" href="#"></a>
  </div>
</div>

<a href="#" class="open-task-composer">Add an actionable task...</a>
