<!--
# GET /plans/1
  # GET /plans/1.json
  def show
    @inbox = @plan.tasks.where(included: false).order(:position)
    @positioned = @plan.tasks.where(included: true).order(:position)
  end
-->

<%= render 'shared/plan_header' %>

<div id="index-tasks">

  <div id="inbox-tasks">
    <div class="content-wrapper">
      <div class="list-content">
        <div class="list-head">
          <h2 class="list-head-text">Inbox</h2>
        </div>
        <div class="list-tasks">
          <%= render partial: 'task_list', locals: {tasks: @inbox, sort_klass: 'inboxSortList', task_sort_route: sort_inbox_plan_tasks_path(@plan.id)} %>
          <%= render partial: 'task_composer' %>
        </div>
      </div>
    </div>
  </div>
  <div id="position-tasks">
    <div class="content-wrapper">
      <div class="list-content">
        <div class="list-head">
          <h2 class="list-head-text">Included Task Positioning</h2>
        </div>
        <div class="list-tasks">
          <%= render partial: 'task_list', locals: {tasks: @positioned, sort_klass: 'positionSortList', task_sort_route: sort_positioned_plan_tasks_path(@plan.id)} %>
        </div>
      </div>
    </div>
  </div>
</div>
