body {
  background: $body-bg-color;
  background-size: cover;
  overflow: hidden;
  font-family: $helv-neue;
  line-height: 18px;
  font-size:   14px;
  position: relative;
}

// Put the 'display: flex;' in an class in case I want to remove it from the body.
.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// bootstrap overrides
.container-fluid.main {
  padding-bottom: 80px;
  margin-top: 61px; // accommodate the navbar
}

section.row {
  &:first-of-type {
    margin-top: 0;
  }
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  &:hover, &:focus {
    color: white;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}
