<div class="plan-header">
  <div class="plan-header-btn plan-header-name">
    <%= @plan.name %>
  </div>
  <% if @next_step_path %>
    <div class="pull-right">
      <%= link_to "Previous Step", @previous_step_path, class: "btn btn-success" %>
      &nbsp;
      <%= link_to "Next Step", @next_step_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>
