<div class="plan-header">
  <div class="plan-header-btn plan-header-name">
    <%= @plan.name %>
  </div>
  <% if @next_step_path %>
    <%= link_to "Next Step", @next_step_path, class: "btn btn-success pull-right" %>
  <% end %>
</div>
