<section class="row">
  <div class="col-md-12">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <p>HOME PAGE FOR PEOPLE NOT SIGNED IN, ELSE REDIRECTED TO PLANS_PATH</p>
  </div>
</section>
