<%= render 'shared/plan_header' %>

<%= render partial: 'list_directions' %>

<div id="identified-tasks">
  <%= render partial: 'task_board', locals: {tasks: @plan.tasks, list_head_text: "Actions", klasses: "", html_options: " data-sort-url=#{sort_positioned_plan_tasks_path(@plan.id)}"} %>
</div>
