<%= render 'shared/plan_header' %>

<%= render partial: 'list_directions' %>

<div id="rate-tasks">
  <div class="content-wrapper">
    <div class="list-content">
      <div class="list-head">
        <h2 class="list-head-text">Actions</h2>
      </div>
      <div class="list-tasks">
        
        <!-- <div class="task-position">class="task-position"</div> -->
        <div class="task">
          <div class="task-details">div class="task-details"</div>
        </div>
          <!-- <div class="task-priority"> -->
          <!-- <div class="task-priority-details"> -->
            <!-- class="task-priority-details" -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
