// =================================================================
// info map for scss the tasks
// =================================================================
.content-wrapper {
  // //=> holds all, outer most wrapper
  // position relative for position inner divs
  // user-select none so dragging and dropping is smooth
  // white-space no wrap for text/boxsizing predictability outside of the tasks containers which have an outline
  .list-content {
    // //=> What we see on the view as the outer most container
    // background color of the div container that holds the tasks, the tasks themselves will use a different container
    // position relative for position the inner divs
    // border radius of style appeal
    .list-head {
      // //=> First div in the list content. Has no background because it is styled differently to be a title for the entire thing
      // custom padding for helping line up content with the other divs inside of list-content
      // position relative for position the inner divs
      // min-height: Ensure size of div will fit - should be 1px bigger than line height of the inner text div
      h2.list-head-text {
        // //=> styling of text of title. Should probably make a $font variable to make this quick if it is similar styling; overflow hidden, should only be on 1 line... have text-overflow style for it; word-wrap: break-word so reads better if cut off
      }
    }
    .list-tasks {
      // //=> lists ALL the tasks.
      // has an overflow-x hidden so will look good if content left/right is bad, or styling slightly off. Don't won't left right scroll bar on this.  Want the tasks inside of it to get bigger up and down, not left to right.
      // overflow-y: auto; so if tasks list run long and .list-content (overall container) has size limit, this will get a scroll bar for the overall tasks.
      // Margin and padding used to line up a .task background color (inside this div) with the .list-head-text
      .task-position {
        // //=> Will need to be styled later, currently has none.
        // depending on each page/view's purpose, could be differently styled
        // [.task, .task-position, .task-priority] could all be adjusted slightly when styling to compensate for page's desired look.
        // should have a containing ID tag to compensate for this in only those situations.
      }
      .task {
        // //=> the thing we see inside of the board here as a separate task... has it's own background and bottom margin to seperate itself from other tasks.... which would be of the same class (.task)
        // has a border bottom to give it a look like it is on top of the containing dive with a background.
        // has a border radius for softer look and feel
        // cursor pointer for the 'link' feel, UX is so the user knows they can click it... will be the click, drag, drop for the app.
        // needs a minimum height to ensure proper look incase empty inner details div.
        // position relative for position the inner divs
        // depending on each page/view's purpose, could be differently styled
        // [.task, .task-position, .task-priority] could all be adjusted slightly when styling to compensate for page's desired look.
        // should have a containing ID tag to compensate for this in only those situations.
        .task-details {
          // //=> task written details.  It's size adjusts from a normal min-height even when it has not content, given to it by the containing div (.task).
          // has a max-height so if the inner div is too big doesn't ruin the UX of the rest of the page.
          // has overflow auto incase text is really long but because of max-height, even long text won't ruin UX of overall page.
          // custom padding to fit in (.task) nicely
          // position relative for position the inner divs
        }
      }
      .task-priority {
        // //=> this will be showing the priority number of the tasks
        // depending on each page/view's purpose, could be differently styled
        // [.task, .task-position, .task-priority] could all be adjusted slightly when styling to compensate for page's desired look.
        // should have a containing ID tag to compensate for this in only those situations.
        .task-priority-details {
          // //=> text of the priority level
          // will likely be the same things as (.task-details) but could be different.
        }
      }
    }
  }
}
// =================================================================
// =================================================================

.content-wrapper {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 20px;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  padding-bottom: 15px;
  .list-content {
    background: $inbox-bg-clr;
    border-radius: $inbox-list-bdr-rds;
    position: relative;
    .list-head {
      padding: $inbox-list-hd-pdg;
      position: relative;
      min-height: $inbox-list-hd-txt-min-ht;
      white-space: nowrap;
      h2.list-head-text {
        display: inline;
        font-size: $inbox-list-hd-txt-ft-sz;
        line-height: $inbox-list-hd-txt-ln-ht;
        margin: 0;
        min-height: $inbox-list-hd-txt-min-ht;
        min-width: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-weight: bold;
        font-family: $helv-neue;
      }
    }
    .list-tasks {
      overflow-x: hidden;
      overflow-y: auto;
      margin: $list-tasks-mgn;
      padding: $list-tasks-pdg;
      padding-bottom: 3px;
      .task-position {
        background-color: $task-bg-clr;
        border-bottom: $task-bdr-btm;
        cursor: pointer;
        margin-bottom: $task-mgn-btm;
        min-height: $task-min-ht;
        position: relative;
        z-index: 0;
        align-self: stretch;
        border-top-right-radius: $inbox-task-bdr-rds;
        border-bottom-right-radius: $inbox-task-bdr-rds;
        .task-position-details {
          overflow: auto;
          margin: auto;
          position: relative;
          max-height: 162px;
          z-index: 10;
          text-align: center;
          padding: 6px 8px 4px;
        }
      }
      .task {
        background-color: $task-bg-clr;
        border-bottom: $task-bdr-btm;
        border-radius: $inbox-list-bdr-rds;
        cursor: pointer;
        margin-bottom: $task-mgn-btm;
        min-height: $task-min-ht;
        position: relative;
        width: 100%;
        z-index: 0;
        .task-details {
          overflow: auto;
          padding: 6px 8px 4px;
          position: relative;
          max-height: 162px;
          z-index: 10;
        }
      }
      .task-priority {
        background-color: $task-bg-clr;
        border-bottom: $task-bdr-btm;
        cursor: pointer;
        margin-bottom: $task-mgn-btm;
        min-height: $task-min-ht;
        position: relative;
        z-index: 0;
        align-self: stretch;
        border-top-right-radius: $inbox-task-bdr-rds;
        border-bottom-right-radius: $inbox-task-bdr-rds;
        .task-priority-details {
          overflow: auto;
          margin: auto;
          position: relative;
          max-height: 162px;
          z-index: 10;
          text-align: center;
        }
      }
      .task-person {
        background-color: $task-bg-clr;
        border-bottom: $task-bdr-btm;
        cursor: pointer;
        margin-bottom: $task-mgn-btm;
        min-height: $task-min-ht;
        position: relative;
        z-index: 0;
        align-self: stretch;
        border-top-right-radius: $inbox-task-bdr-rds;
        border-bottom-right-radius: $inbox-task-bdr-rds;
      }
    }
  }
}

// main plan page, makes inbox horizontal
#index-tasks {
  .task-row {
    display: flex;
    align-items: stretch;
  }
  .task {
    order: 3;
  }
  .flex-person-wrapper {
    width: 250px;
    order: 2;
    .task-person {
      margin-right: 8px;
      .task-person-details {
        overflow: auto;
        padding: 6px 8px 4px;
        position: relative;
        max-height: 162px;
        z-index: 10;
      }
    }
  }
  .task-position {
    flex: none;
    background-color: #3797FC;
    color: white;
    border-radius: 50%;
    order: 1;
    align-self: center;
    margin-right: 8px;
    min-width: 30px;
  }
  .task-priority {
    display: none;
  }
}


#identified-tasks {
  .task-position {
    display: none;
  }
  .task-priority {
    display: none;
  }
}

#rate-tasks {
  .task-row {
    display: flex;
    align-items: center;
  }
  .task {
    order: 2;
  }
  .task-position {
    display: none;
  }
  .task-priority {
    background-color: transparent;
    border-bottom: none;
    order: 1;
    display: flex;
    align-items: center;
    padding-right: 8px;
  }
}

#assign-tasks {
  .task-row {
    display: flex;
    align-items: center;
  }
  .task {
    order: 5;
  }
  .task-position {
    display: none;
  }
  .task-priority {
    flex: none;
    background-color: transparent;
    border-bottom: none;
    order: 1;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  .task-person {
    flex: none;
    background-color: transparent;
    border-bottom: none;
    order: 2;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  .assign-save-btn {
    @extend .btn;
    @extend .btn-success;
    order: 3;
    flex: none;
    padding: 4px 12px;
    margin-right: 8px;
    margin-bottom: 6px;
  }
}

#include-tasks {
  .task-row {
    display: flex;
    align-items: center;
  }
  .task {
    order: 3;
  }
  .task-position {
    display: none;
  }
  .task-priority {
    flex: none;
    background-color: transparent;
    border-bottom: none;
    order: 2;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  .role-person-select {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .include-task {
    flex: none;
    order: 1;
    align-self: strech;
    padding-left: 3px;
    padding-right: 8px;
    padding-bottom: 8px;
  }
  .btn-refresh {
    margin-left: 8px;
    margin-right: 8px;
    height: auto;
    margin-bottom: 8px;
  }
  .bootstrap-switch-defer, .bootstrap-switch-defer {
    color: #fff;
    background: #8F8F8F;
  }
}





#preparation-tasks {
  .task-row {
    display: flex;
    align-items: stretch;
  }
  .task {
    order: 2;
  }
  .include-task {
    flex: none;
    order: 3;
    padding-left: 3px;
    padding-right: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    display: none;
  }
  .todos-task {
    background-color: $task-bg-clr;
    border-bottom: $task-bdr-btm;
    border-radius: $inbox-list-bdr-rds;
    cursor: pointer;
    margin-bottom: $task-mgn-btm;
    min-height: $task-min-ht;
    position: relative;
    flex: none;
    order: 1;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  .task-todos-details {
    min-width: 40px;
    text-align: center;
  }
}

// main PLAN show page, inbox
#inbox-tasks {
  .task-row {
    .task-position {
      display: none;
    }
  }
}
