@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'hethe_dev_tools';

.container.main {
  padding-bottom: 80px;
  margin-top: 61px; // accommodate the navbar
}

section.row {
  &:first-of-type {
    margin-top: 0;
  }
  margin-top: 20px;
}
