<div class="list-tasks">
  <% tasks.each do |task| %>

    <div class="task">
      <div class="task-details">
        <div class="task-details-title">
          <%= task.deed %>
        </div>
      </div>
    </div>

  <% end %>
</div>
