<div class="plan-header">
  <div class="plan-header-btn plan-header-name">
    <%= @plan.name %>
  </div>
  <div class="plan-header-btn plan-header-menu">
    <a href="#">
      <span class="plan-header-icon icon-arrow-left"><i class="fa fa-angle-left plan-header-icon">&nbsp;&nbsp;</i></span>
      <span class="plan-header-menu-text">Show Menu</span>
    </a>
  </div>
</div>
