<div class="list-tasks">
  <ul id="sortablePositioned" class="connectedSortable" data-sort-url=<%= sort_positioned_plan_tasks_path(@plan.id) %>>
    <% tasks.each do |task| %>
      <li id="tasks_<%= task.id %>">
        <div class="task">
          <div class="task-details">
            <div class="task-details-title">
              <%= task.deed %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
