<li class="task-row" id="tasks_<%= task.id %>" data-plan="<%= @plan.id %>">
  <div class="task-position"><%= task.position %></div>
  <div class="task">
    <div class="task-details">
      <div class="task-details-title">
        <%= task.deed %>
      </div>
    </div>
  </div>
</li>
