<%= render 'shared/plan_header' %>

<div id="index-tasks">
  <div class="content-wrapper">
    <div class="list-content">
      <div class="list-head">
        <h2 class="list-head-text">Included Task Positioning</h2>
      </div>
      <div class="list-tasks">
        <%= render partial: 'task_list', locals: {tasks: @positioned, sort_klass: 'positionSortList', task_sort_route: sort_positioned_plan_tasks_path(@plan.id)} %>
      </div>
    </div>
  </div>
</div>
