<%= render 'plan_header' %>


<div class="plan-canvas">
  <div id="plan-board">

    <div class="inbox-wrapper">
      <div class="plan-list-content">
        <div class="plan-list-head">
          <h2 class="plan-list-head-text">Inbox</h2>
        </div>
        <%= render partial: 'inbox_tasks', locals: {tasks: @inbox} %>

        <a href="#" class="open-task-composer">Add an action...</a>

      </div>
    </div>

    <div class="position-wrapper">
      <div class="plan-list-content">
        <div class="plan-list-head">
          <h2 class="plan-list-head-text">Task Positioning</h2>
        </div>
        <%= render partial: 'positioned_tasks', locals: {tasks: @positioned} %>

      </div>
    </div>

  </div>
</div>

<script>



</script>
